
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* background-image: url("https://images.pexels.com/photos/776635/pexels-photo-776635.jpeg?auto=compress&cs=tinysrgb&w=400"); */
  background-color: azure;
  
}


.btn-container{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
.btn{
  padding: 5px;
  background-color:aliceblue;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-color: aqua;
  font-weight: 500;
  

}
.left{
  display: flex;
  padding: 10px;
  margin-left:70px;
  height: 50px;
  width: 200px;
  background-color: aliceblue;
  border-radius:20px;
  margin-top: -50px;
  
  
} 
 .right{
  display: flex;
  padding: 10px;
  margin-left:480px;
  height: 50px;
  width: 200px;
  background:aliceblue;
  border-radius:20px;
  margin-top: -50px;
  } 
   .top{
    display: flex;
    padding: 10px;
    margin-left:275px;
    
    height: 50px;
    width: 200px;
    background:aliceblue;
    border-radius:20px;
    margin-top: -120px;
    }
    .bottom{
      display: flex;
      padding: 10px;
      
      
      height: 50px;
      width: 200px;
      background: aliceblue;
      border-radius:20px;
      margin-top: 5px;
      }
      @media only screen and (min-width: 320px)  { .top{margin-left:200px;} ;.right{margin-left:10px; font-size: 12px;} .bottom{margin-left: 200px;} .left{margin-left: 0px;}}
@media only screen and (min-width: 768px)  { .top{margin-left:400px;} .right{margin-left: 600px;} .bottom{margin-left: 400px; }.left{margin-left: 150px;}} 
@media only screen and (min-width: 1024px) {.top{margin-left:700px;} .right{margin-left: 900px;} .bottom{margin-left: 700px;} .left{margin-left: 400px;}}
@media only screen and (min-width: 1900px) { .top{margin-left:800px;} ;.right{margin-left: 100px;} }



